@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.workSpacePage {
    height: 100vh;
    width: 100vw;
    background-color: rgba(31, 31, 35, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.WorkspaceNavBar {
    top: 0;
    width: 100vw;
    height: 7.75vh;
}

.body {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.itemBox {
    background-color: rgba(24, 24, 27, 1);
    width: 23.5%;
    height: 95%;
    margin-left: 1%;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1) 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.bubbles,
.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.bubbles {
    margin-top: 15%;
    height: 22.5%;
}

.bubbleButtons,
.inputButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 5%;
    row-gap: 0.5rem;
    margin-top: 0.25rem;
}

.heading p {
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: rgba(255, 255, 255, 0.92);
    margin-block: 0.5rem;
}


.inputs {
    height: 40%;
}

.bubbleButtons button,
.inputButtons button {
    background-color: rgba(31, 31, 35, 1);
    border: 1px solid rgba(39, 39, 42, 1);
    border-radius: 8px;
    height: 5.25vh;
    text-align: left;
    padding-left: 10%;
    display: flex;
    align-items: center;
    gap: 10%;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(255, 255, 255, 0.92);
}

.bubbleButtons button img,
.inputButtons button img {
    width: 1rem;
    aspect-ratio: 1/1;
}

.formArea {
    height: 95%;
    flex: 1;
    padding: 2% 4% 0 4%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.formComponents {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    gap: 5%;
}

.formArea::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.formArea::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

.formArea::-webkit-scrollbar {
    background: rgba(24, 24, 27, 1);
    width: 10px;
}

.formStart {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: rgba(24, 24, 27, 1);
    border-radius: 16px;
    padding-inline: 7%;
}

.formStart img {
    height: 1rem;
    aspect-ratio: 1/1;
    margin-right: 5%;
}

.formElement{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    justify-content: center;
    background-color: rgba(24, 24, 27, 1);
    border-radius: 16px;
    padding-inline: 7%;
    position: relative;
}

.deletePng{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -7%;
    right: -2.5%;
    background-color: rgba(68, 68, 68, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletePng img{
    width: 60%;
    aspect-ratio: 1/1;
}