body.light{
    background-color: white;
    color: black;
}
body.dark{
    background-color: rgba(24, 24, 27);
    color: white;
}


.navBar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 39.5%;
    padding-right: 4.2%;
}

.navBar.light{
    background-color: white;
    color: black;
    border-bottom: 1px solid rgba(24, 24, 27);
}

.navBar.dark{
    background-color: rgba(24, 24, 27);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.dashBoardNameAndSettings {
    width: 36%;
    height: 65%;
    position: relative;
}

.dropDownContainer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 0.85rem;
}

.dropDownHeader.dark{
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.dropDownHeader.light{
    border: 1px solid rgba(24, 24, 27);
}

.dropDownContainer.open{
    height: 6.75vh;
}

.dropDownHeader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding-inline: 5%;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 8px;
}

.dropDownHeader.open{
    border-radius: 8px 8px 0px 0px;
    border-bottom: none ;
}

.dropDownHeader.open.light{
    background-color: white;
}

.dropDownHeader.open.dark{
    background-color: rgba(29, 29, 29, 1);
}

.icon{
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.icon.open{
    transform: rotate(-180deg);
}

.dropDownList{
    width: 100%;
    position: absolute;
    top: 100%;
    border-bottom: none;
    z-index: 10005;
}

.dropDownList.light{
    background-color: white;
    border: 1px solid black;
}

.dropDownList.dark{
    background-color: rgba(29, 29, 29, 1);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.list{
    list-style: none;
    cursor: pointer;
}

.listItems{
    height: 6.75vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.listItems.light{
    border-bottom: 1px solid black;
}
.listItems.dark{
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.logOut{
    color: rgba(255, 165, 76, 1);
}

.dashBoardNameandsettings select:focus{
    border: none;
    outline: none;
}


.theme{
    width: 17.5%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share{
    width: 10.5%;
    height: 65%;
}

.shareButton{
    width: 100%;
    height: 100%;
    background-color: #1A5FFF;
    border: none;
    color: #EDF2FF;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Open Sans';
    font-size: 0.85rem;
    font-weight: 600;
}

.option{
    width: 100%;
    background-color: rgba(29, 29, 29, 1);
    color: rgba(255, 255, 255, 0.92);
    border: 1px solid rgba(255, 255, 255, 0.16)
}

.dropDownImage{
    width: 1rem;
    height: 1rem;
}
