@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Poppins';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgba(255, 255, 255, 1);
  --font-color: rgba(0, 0, 0, 1);
}

[data-theme="light"]{
  --background-color: rgba(255, 255, 255, 1);
  --font-color: rgba(0, 0, 0, 1);
}

[data-theme="light"]{
  --background-color: #18181B;
    --font-color: rgba(255, 255, 255, 0.92)
}